/* text-align: center; */

:root {
  --item-container-height: 90px;
  --item-border-color: rgb(53, 53, 60);
  --tag-font-size: 12;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f2f2f2;
}


header {
  display: flex;
  background : black;
  width : 100%;
  color : white;
  padding-left : 30px;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.item-container {
  align-items: stretch;
  height : var(--item-container-height);
  border : 1px solid var(--item-border-color);
  border-radius: 0.75rem;
  margin : 12px;
  background-color: rgb(240, 240, 240);
}

.icon-section {
  width: var(--item-container-height);
  display: flex;
  justify-content : center;
  align-items: center;
}

.icon-section img {
  width : 80%;
  object-fit: cover;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.info-section {
  flex: 1;
  margin : 10px;
  align-items: baseline;
}

.info-section p {
  flex: 1;
  margin: 0 0;
}

.info-section p.name {
  font-size: 24px;
  font-weight: bold;
  padding-left : 0px;
  padding-top : 4px;
}

.info-section p.info {
  padding-left : 5px;
}

.info-section .tags {
  flex: 1;
  margin: 0 0;
  padding-left: 3px;
  align-items: center;
}

.info-section .tags span {
  background-color: rgb(97, 97, 97);
  margin: 0 5px 0 0;
  border : 1px solid 0;
  border-radius: 0.75rem;
  padding : 0 5px;
  color: white;
  font-size: var(--tag-font-size);
}

.download-section {
  width: var(--item-container-height);
  display: flex;
  justify-content : center;
  align-items: center;
  margin-left: auto;
}

.download-section img {
  width: 40%;
  object-fit: cover;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.red {
  background-color: rgb(211, 66, 66);
}

.drag-block {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.drag-allow {
  -webkit-user-select:all;
  -moz-user-select:all;
  -ms-user-select:all;
  user-select:all
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
